@charset "utf-8";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

// If need, change your variables before importing Bulma
@import "~bulma/bulma.sass";

ul {
    margin-left: 1rem;
    list-style: disc;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

body {
    color: #05052C;
    font-family: 'Avenir', 'Roboto Condensed ', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}
